.main-page {
  font-family: Roboto, Hevetica, sans-serif;
  background-color: #f1f1f1;
  color: black;
}

.logo {
  text-align: center;
  background: none;
  opacity: 0.25;
}

#text {
  display: flex;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 10px 10px rgb(37, 37, 37);
  background: none;
}

.main-page-top {
  position: relative;
  height: 64px;
  background-color: white;
  padding-bottom: 5%;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.main-page-top * {
  display: table-cell;
  text-align: right;
}

.project-list-header {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
  color: #4953af;
  background-color: #a7add488;
  border-bottom: 2px solid #3e3eff;
  box-shadow: 0 4px 8px 0;
}

.search-bar {
  text-align: left;
}

.drop-down-button {
  color: red!important;
  background-color: white!important;
  border: none!important;
}
.drop-down-button:focus {
  box-shadow: none!important;
}
.drop-down-button:hover {
  background-color: #f1f1f1!important;
}

.drop-down-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-down-content a:hover {background-color: #f1f1f1}

.drop-down:hover .drop-down-content {
  display: block;
}

.drop-down:hover .drop-button {
  background-color: #41EAD4;
}

.drop-down-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9!important;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.all-projects {
  display: flex;
  text-align: center;
  padding-top: 5%;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.addProj-btn {
  display: block;
  background-color: white;
  color: #D81E5B;
  margin: 20px;
  padding: 80px 80px;
  border: 1px;
  border-radius: 5px;
  opacity: 0.8;
  position: relative;
}

.addProj-btn:active {
  opacity: 1;
}

.addProj-popup {
  position: relative;
  text-align: center;
  width: 100%;
}

.form-popup {
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-45%, 5%);
  border: 2px solid darkgray;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 20px;
  color: darkblue;
  background-color: blanchedalmond;
}

.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: darkslategray;
}

.form-container .btn-cancel {
  background-color: #a7add4;
  color: black;
  padding: 12px 20px;
  border: none;
  width: 35%;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 4px;
}

.form-container .btn-submit {
  background-color: #a7add4;
  margin-left: 30%;
  color: black;
  padding: 12px 20px;
  border: none;
  width: 35%;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 4px;
}

.all-project-cards {
  position: relative;
  padding: 5px;
  /* margin-right: 10%;
  margin-left: 10%; */
  width: 100%;
  height: 40%;
  border-top: 2px solid darkgrey;
  border-bottom: 2px solid darkgrey;
  border-radius: 4px;
}

.horizontal-scrollable > .card-row {
  overflow-x: auto;
  white-space: nowrap;
}

.project-card {
  display: flex;
  width: 17rem;
  height: 17rem;
  margin: 1rem;
  display: inline-block;
  float: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px!important;
}

.add-project-box {
  color: #4953af;
}

.add-project-card {
  display: flex;
  align-items: center;
  background-color: #F1F1F1!important;
  justify-content: center;
  border: 1px solid black;
  margin: 1rem;
  width: 17rem;
  height: 17rem;
  white-space: normal;
}

.add-project-button {
  border: none;
  width: 10rem;
  height: 10rem;
  font-size: 64px;
  margin-left: auto;
  margin-right: auto;
  color: #4953af;
  background-color: lightgrey;
  border-radius: 100%;
  display: block;
}

.add-project-button:focus {
  border: none;
  outline: none;
}

.add-project-button:active {
  background-color: lightgrey;
}

.delete-project-popup {
  position: fixed;
  background-color: aliceblue;
  text-align: center;
  left: 45%;
  top: 5%;
  transform: translate(-45%, 5%);
  border: 2px solid darkgray;
  z-index: 9;
}

.delete-project-popup-no {
  display: inline-block;
  margin: 5px;
  margin-right: 50px;
}

.delete-project-popup-yes {
  display: inline-block;
  margin: 5px;
  margin-left: 50px;
}

.card-menu {
  width: 10px;
  height: 100%;
  margin-left: 0%;
  padding-left: 0%;
  color: grey!important;
  float: right;
  position: fixed;
  /* overflow-x: auto; */
  /* border: black solid;
  border-bottom: red solid; */
  
}
.card-menu:focus {
  outline: none!important;
  outline-offset: none!important;
}

.card-menu-dropdown-button {
  color: red;
  outline: none!important;
}

.card-menu-dropdown-button:focus {
  box-shadow: none!important;
}

.card-body {
  padding-top: 0%!important;
  overflow-y: auto;
  text-align: center;
  
}

.card-body::-webkit-scrollbar {
  display: none!important;
}

.card-body {
  -ms-overflow-style: none!important;
}

.card-footer {
  border: red solid;
  border-top: blue solid;
  height: 40%!important;
  overflow: auto;
}
.card-footer-list {
  border: none;
}

.card-footer-list-items {
  color: black;
  background-color: #f1f1f1!important;
  height: 30px!important;
  border-radius: 3px!important;
  /* padding-top: 0%!important; */
  /* padding-bottom: 0%!important; */

  
}
#component-tally {
  padding-top: 1%!important;
}
#project-progress-bar {
  align-content: center!important;
  padding-bottom: 8%!important;
  padding-top: 3%!important;
}

.main-page-bottom {
  position: relative;
  height: 435px;
  background-color: #00002f;
  width: 100%;
}