.project-view-main {
    font-size: large;
    background-color: #f1f1f1;
}

.project-view-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.search-bar {
  align-self: center;
  justify-self: center;
}

.drop-down {
  align-self: flex-start;
}

.logo {
  align-self: flex-start;
}

.project-view-footer {
  height: 20rem;
  border: solid red;
  margin-top: 20rem;
  background-color: #011627;
}

.project-view-banner {
  
}

.project-view-banner-jumbotron {
  background-color: #A3F5EA!important;
  border-bottom: solid #FFD6E0!important;
}

.project-view-banner h1 {
text-align: center!important;
}

.project-view-banner p {
text-align: center!important;

}

.project-view-content {
  display: flex;
  flex-direction: column;
}
.project-title {
  background-color: #f1f1f1!important;
  color: black!important;
  outline: none!important;
  height: 4.5rem;
  width: fit-content;
  font-size: 2.5rem;
  justify-self: center;
  align-self: center;
  display: flex;
}

.project-title-input {
  height: 4.5rem;
  font-size: 2.5rem;
  width: fit-content;
  justify-self: center;
  align-self: center;
  text-align: center;
  background-color: #f1f1f1;
  font-style: bold;
  border-radius: 7px!important;

}

.component-title-button {
  max-width: fit-content!important;
  min-width: fit-content!important;
  
}

.component-title-input {
  width: 15rem;
  height: 3rem;

}

.component-list {
    list-style-type: decimal;
}

.comp-li-btn {
    display: inline;
    border: 0px;
    background-color: inherit;
}

.comp-li-btn:focus {
    outline: none;
}

.comp-li-btn-r {
    display: inline;
    border: 0px;
    background-color: inherit;
    transform: rotate(90deg);
}

.comp-li-btn-r:focus {
    outline: none;
}

.comp-options {
    float: right;
}

.step-options {
    float: right;
}

.add-comp-popup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .form-popup {
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-45%, 5%);
    border: 2px solid darkgray;
    z-index: 9;
  }
  
  .form-container {
    max-width: 300px;
    padding: 20px;
    color: darkblue;
    background-color: blanchedalmond;
  }
  
  .form-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: darkslategray;
  }
  
  .form-container .btn-cancel {
    background-color: blueviolet;
    color: black;
    padding: 12px 20px;
    border: none;
    width: 35%;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  .form-container .btn-submit {
    background-color: blueviolet;
    margin-left: 30%;
    color: black;
    padding: 12px 20px;
    border: none;
    width: 35%;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 4px;
  }